RewriteEngine on
 RewriteRule ^(frontend|backend)/web/ - [L]
 RewriteRule ^backend(/(.*))?$ backend/web/$2 [S=1]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 

RewriteRule . index.php